:root {
    --white: #EEEEEE;
    --grey: #DBDADA;

    --primary-font: 'Inter', sans-serif ;
}

body {
    font-family: var(--primary-font);
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.col-lg-3 {
    background-color: var(--grey);
}



.Logo { 
   padding-top: 48px;
   padding-bottom: 179px;
/* 
   background: url(./Assets/Logo.png) no-repeat;
   max-width: 100px;
   min-height: 100px;
   background-size: contain; */
   
   
     
}


.skillset {
    border-top: 1px solid    black;
    padding-left: 50px;
        padding-right: 50px;

    & h1 {
    margin-top: 26px;
    
    margin-bottom: 33px;

    }

    & ul { 
        margin-top: 33px;
    
    margin-bottom: 59px;

    }
   

    
}

.toolset { 
    padding-left: 50px;
        padding-right: 50px;
    border-top: 1px solid    black;


    & h1 {margin-top: 49px;
        margin-bottom: 33px;
    }

    & ul {
        margin-bottom: 46px;
    }    
}
.contactme {  
    padding-left: 50px;
        padding-right: 50px;
    border-top: 1px solid    black;
    
    & h1 {
    margin-top: 50px;
    margin-bottom: 33px;
}
    & a {
        
        color: black;
    }
    
}

.col-lg-9 {
    background-color: var(--white);
}

.name {
    padding-left: 50px;
        padding-right: 50px;
    margin-top: 104px;
        margin-bottom: 93px;
    text-align: center;
    & h1 { 
        
        font-size: 40px;
        
    }
}

.profile {
    padding-left: 50px;
        padding-right: 50px;
    border-top: 1px solid    black;
    & h1 {
        margin-top: 26px;
    margin-bottom: 33px;
    }
   
}

.education {
    padding-left: 50px;
        padding-right: 50px;
    border-top: 1px solid    black;
    

    & h1 {
        margin-top: 49px;
        margin-bottom: 33px;
    }

    & p {
        margin: 30px 0px;
        text-align: center;
    }

    & img {
        display: flex;
        justify-content: center;
        height: 100px;
        margin: auto;
        display: block;
    }
    

   
}
.achievements {
    padding-left: 50px;
        padding-right: 50px;
    border-top: 1px solid    black;

    & h1 {
        margin-top: 50px;
    margin-bottom: 33px;
}
    }

    & p {
        margin-bottom: 37px;
    }

@media screen and (max-width: 767px) {

        body {
            background-color: var(--grey);
        }

        .col-lg-3 ,.col-lg-9{
            background-color: var(--grey);
        }

        .profile {
            align-items: flex-start;
        }

        .col-lg-12 {
            background-color: dimgray;
        }
        
        .Logo {
            display: flex;
            justify-content: center;
            margin: 50px 0px;
            padding: 0px;
        }
    }
    
    
    .col-lg-12 {
        background-color: dimgrey;
        
    }

    
    @media screen and (max-width: 992px) {
        .Logo {
            text-align: center;
            padding: 100px;
        }
    }

.toolset ul {
    display: inline;
    list-style-type: none;
    
    img {
        height: 50px;
        width: 50px;
        padding: 10px;
    }
}
