:root {
    --Orange:#EFCD75;
    --Blue:#67C7FD;
    --Gold:#FFC000;
    --Blue2:#50BBF6;
    --Blue3:#0043EE;
    --Blue4:#00237D;  
}

.logo  {
    & .col-9 {
       & picture {
        margin: auto;
       }
    }

    & .col-3 {
        & p {
            display: flex;
            justify-content: flex-end;
        }
    }
}