:root {
    --Orange:#EFCD75;
    --Blue:#67C7FD;
    --Gold:#FFC000;
    --Blue2:#50BBF6;
    --Blue3:#0043EE;
    --Blue4:#00237D;  
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 32px;
}



.leftside {
    float: left;

    & .logo {
        background-color: var(--Orange);
        width: 80vh;
        height: 22.5vh;
    }
}

.rightside {
    float:right;
}



